<li class="list-menu-heading <%=(jam.url[1] === 'page' || jam.url[1] === 'pages') ? 'active' : ''%>" data-toggle="collapse" href="#admin-menu-collapse-<%=index%>" aria-expanded="true" aria-controls="admin-menu-collapse-<%=index%>">
    <span class="badge badge-info"><%=jam.plugin.pages.pagination.count%></span><h6><i class="lnr-file-empty ico"></i>Pages</h6>
</li>
<li class="list-sub-menu collapse show" id="admin-menu-collapse-<%=index%>" aria-expanded="true">
    <ul class="list-sub-menu">
        <li>
            <a href="<%=jam.baseurl%>/admin/page" class="list-menu-item menu-add">New Page</a>
        </li>
        <% if (jam.plugin.pages.recent.length > 0) { %>
        <li class="list-menu-heading active sub-active" >
            <h6 style="font-size: 12px;"><i class="lnr-history2 ico"></i>Recent Pages</h6>
        </li>
        <% jam.plugin.pages.recent.forEach((item) => { %>
        <li><a href="<%=item.edit_url%>" class="list-menu-item"><%-item.title%></a></li>
        <% }); %>
        <% } %>
        <li>
            <a href="<%=jam.baseurl%>/admin/pages" class="list-menu-item">View All</a>
        </li>
    </ul>
</li>
