<li class="list-menu-heading <%=(url[1] === 'user' || url[1] === 'users') ? 'active' : ''%>" data-toggle="collapse" href="#admin-menu-collapse-<%=index%>" aria-expanded="true" aria-controls="admin-menu-collapse-<%=index%>">
	<span class="badge badge-info"><%=users.length%></span><h6><i class="lnr-users2 ico"></i>Users</h6>
</li>
<li class="list-sub-menu collapse show" id="admin-menu-collapse-<%=index%>" aria-expanded="true">
	<ul class="list-sub-menu">
		<li>
			<a href="#" class="list-menu-item menu-add">New User</a>
		</li>
		<% plugin.sidebar_users.recent.forEach((item) => { %>
		<li><a href="<%=item.edit_url%>" class="list-menu-item"><%-item.username%></a></li>
		<% }); %>
	</ul>
</li>
