<form id="admin-form" action="<%=baseurl%>/admin/template" method="post">

	<input type="hidden" name="nonce" value="<%=nonce%>" />
    <input type="hidden" name="type" value="template" />
	<input type="hidden" name="objectId" value="<%=rec['objectId']%>" />

	<div class="mb-l"><h5><i class="lnr-pencil ico"></i> Template Editor</h5></div>

	<div class="d-flex flex-xs-column flex-sm-column flex-lg-column flex-xl-row justify-content-start align-items-stretch">
		<div class="mb-s">

            <!-- Template Title -->
			<div class="input-group mb-l">
				<span class="input-group-addon bgc-white" style="width: 46px;"><i class="lnr-file-empty"></i></span>
				<input type="text" class="form-control form-control-lg pl-s" placeholder="Template Name" name="title" autocomplete="off" value="<%=rec['title']%>" />
				<span class="input-group-addon bgc-white" style="width: 50px;" data-toggle="popover" data-placement="left" title="Template Name" data-trigger="hover" data-content="The name of the template as it will appear in the template select dropdown widget."><i class="lnr-question-circle"></i></span>
			</div>

            <!-- Template File -->
			<div class="card card-shadow bgc-white bd-0 mb-l">
				<h6 class="card-header" style="margin-bottom: -1px;"><i class="lnr-file-code ico"></i> File</h6>

				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="input-group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<input type="text" class="form-control" name="template" value="<%=rec['template']%>" readonly />
							<div class="input-group-btn">
								<button type="button" class="btn btn-primary" style="width: 50px;">
									<i class="lnr-chevron-down"></i>
								</button>
							</div>
						</div>
                        <div class="dropdown-menu dropdown-menu-right" style="margin-top: -10px; margin-right: 20px;">
                            <% template_files.forEach((file) => { -%>
                            <a class="dropdown-item <%=(file === rec['template']) ? 'active' : ''%>" href="#" data-dropdown-select="input[name='template']"><%=file.name%></a>
                            <% }); -%>
                        </div>
					</li>
				</ul>
			</div>

            <!-- Template Metabox Add -->
			<div class="card card-shadow bgc-white bd-0 mb-l">
				<h6 class="card-header" style="margin-bottom: -1px;"><i class="lnr-cube ico"></i> Metaboxes</h6>

				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="input-group">
							<span class="input-group-addon bgc-gray-lightest">Name:</span>
							<input type="text" class="form-control" id="metabox-name" name="metaboxName" placeholder="My Metabox Name" />
                            <span class="input-group-addon bgc-gray-lightest">ID:</span>
                            <input type="text" class="form-control" id="metabox-id" name="metaboxId" placeholder="my_metabox_id" />
                            <div class="input-group-btn">
                                <input type="text" class="btn btn-secondary" id="metabox-type" style="min-width: 100px;" value="TYPE" name="metaboxType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" readonly />
                                <div class="dropdown-menu dropdown-menu-right">
                                    <% meta_types.forEach((type) => { %>
                                    <a class="dropdown-item" href="#" data-dropdown-select="#metabox-type" data-dropdown-value="<%=type.value%>"><%=type.name%></a>
                                    <% }); %>
                                </div>
                            </div>
							<span class="input-group-btn">
								<button id="metabox-clone" class="btn btn-primary" type="button" style="width: 50px;" data-clone="#metabox-hbs" data-target="#admin-template-metaboxes" data-input="input[name='metaboxName'], input[name='metaboxType'], input[name='metaboxId']">
									<i class="lnr-plus"></i>
								</button>
							</span>
						</div>
					</li>
				</ul>

                <!-- Template Metabox List -->
				<ul class="list-group list-group-flush" id="admin-template-metaboxes" data-sortable style="margin-top: -1px;">
                    <% if (rec['metabox']) { rec.metabox.forEach((item) => { -%>
                    <li class="list-group-item">
                        <div class="input-group">
                            <span class="input-group-addon bgc-gray-lightest">Name:</span>
                            <input type="text" class="form-control metabox-name" name="metabox[name]" value="<%=item.name%>" />
                            <span class="input-group-addon bgc-gray-lightest">ID:</span>
                            <input type="text" class="form-control metabox-id" name="metabox[id]" value="<%=item.id%>" />
                            <div class="input-group-btn">
                                <input type="text" readonly class="btn btn-secondary metabox-type" style="min-width: 100px;" value="<%=item.type%>" name="metabox[type]" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                                <div class="dropdown-menu dropdown-menu-right">
                                    <% meta_types.forEach((type) => { %>
                                    <a class="dropdown-item <%=(type.value === item.type) ? 'active' : '';%>" href="#" data-dropdown-select=".metabox-type" data-dropdown-value="<%=type.value%>"><%=type.name%></a>
                                    <% }); %>
                                </div>
                            </div>
                            <span class="input-group-btn">
								<button class="btn btn-secondary" type="button" style="width: 50px;" data-target=".list-group-item" data-remove><i class="lnr-cross"></i></button>
							</span>
                        </div>
                        <div class="gu-handle"><i class="lnr-menu"></i></div>
                    </li>
					<% }); } -%>
				</ul>
			</div>

		</div>
		<aside>
			<div class="mb-l">
				<button
					type="button"
					class="btn btn-primary btn-block btn-lg text-uppercase"
					data-label="Save Template"
					data-confirm="Are you sure?"
					data-submit='Saving...'>Save Template</button>
			</div>
            <% if (rec['objectId']) { %>
            <div>
                <button type="button" class="btn btn-danger btn-block text-uppercase" data-toggle="modal" data-target="#adminTemplateDeleteModal">Delete Template</button>
            </div>
            <% } %>
		</aside>
	</div>
</form>

<script id="metabox-hbs" type="text/x-handlebars-template">
    <li class="list-group-item">
        <div class="input-group">
            <span class="input-group-addon bgc-gray-lightest">Name:</span>
            <input type="text" class="form-control metabox-name" name="metabox[name]" value="{{metaboxName}}" />
            <span class="input-group-addon bgc-gray-lightest">ID:</span>
            <input type="text" class="form-control metabox-id" name="metabox[id]" value="{{metaboxId}}" />
            <div class="input-group-btn">
                <input type="text" readonly class="btn btn-secondary metabox-type" style="min-width: 100px;" value="{{metaboxType}}" name="metabox[type]" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                <div class="dropdown-menu dropdown-menu-right">
                    <% meta_types.forEach((type) => { %>
                    <a class="dropdown-item" href="#" data-dropdown-select=".metabox-type" data-dropdown-value="<%=type.value%>"><%=type.name%></a>
                    <% }); %>
                </div>
            </div>
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" style="width: 50px;" data-target=".list-group-item" data-remove><i class="lnr-cross"></i></button>
            </span>
        </div>
        <div class="gu-handle"><i class="lnr-menu"></i></div>
    </li>
</script>

<% if (rec['objectId']) { %>
<div data-dna="modal-sm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="adminTemplateDelete" aria-hidden="true" id="adminTemplateDeleteModal">
    <div class="modal-dialog">
        <form id="admin-delete-form" action="<%=baseurl%>/admin/template" method="delete">

            <input type="hidden" value="<%=rec['objectId']%>" name="objectId" />
            <input type="hidden" value="<%=nonce%>" name="nonce" />

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="lnr-cross"></i></span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="mb-l mt-m">Deleting cannot be undone. Are you sure?</div>
                    <button type="button" class="btn btn-secondary btn-block text-uppercase" data-dismiss="modal" aria-label="Cancel delete">No</button>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-danger btn-block btn-lg text-uppercase"
                        aria-label="Delete Template"
                        data-label="Yes"
                        data-submit='Deleting...'>Yes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<% } %>
