<%
    let qarr        = req.originalUrl.split('?');
    let q           = (qarr.length > 1) ? '?' + qarr.pop() : '';
    let statuses    = {"publish": "Approved", "wait": "Waiting", "delete": "Deleted"};
    let stat        = (comments.query.hasOwnProperty('status')) ? comments.query.status.join('') : '';
    let link        = '/admin/comments/[PAGE]/[POST][STATUS][PARAMS]';
    link            = link.split('[PARAMS]').join(q);
    link            = link.split('[PAGE]').join(1);
    link            = (comments.query.hasOwnProperty('post')) ? link.split('[POST]').join(comments.query.post) : link.split('[POST]').join('all');
    link            = (link.substr(link.length - 1, 1) === '?') ? link.split('?').shift() : link;

    let sstat       = (stat === 'publishwait' || stat == 'waitpublish') ? '' : stat;
    let sortlink    = link.replace('[STATUS]', '/' + sstat);
    sortlink        = sortlink.split('sortBy=createdAt').join('');
    sortlink        = sortlink.split('sort=ascending').join('');
    sortlink        = sortlink.split('sort=descending').join('')
    sortlink        = sortlink.replace(/(&&+)/g, '&');
    sortlink        = (sortlink.substr(sortlink.length - 1, 1) === '&') ? sortlink.split('&').shift() : sortlink;
    sortlink        = (sortlink.substr(sortlink.length - 1, 1) === '?') ? sortlink.split('?').shift() : sortlink;
%>

<section class="admin-list">
    <div class="mt-sm-2 mt-md-4 mt-lg-0">
        <h5 class="d-inline-block"><i class="lnr-bubbles ico"></i> Comments</h5>
    </div>

    <!--// Filters //-->
    <form class="comment-filters bgc-white rounded card-shadow p-2 mt-2 mb-3 mt-md-4 mb-md-5" method="get">
        <div data-dna="input-group" class="input-group-sm input-group">
            <input type="text" class="form-control" placeholder="Search" name="find" value="<%=(comments.query.hasOwnProperty('find')) ? comments.query.find : ''%>">
            <div class="input-group-btn">
                <button class="btn btn-secondary" type="submit"><i class="lnr-magnifier"></i></button>
            </div>
            <% if (comments.filtered >= 2 || comments.query.hasOwnProperty('find')) { %>
            <div class="input-group-btn">
                <a href="/admin/comments/1" class="btn btn-secondary text-uppercase d-flex align-items-center justify-content-around" data-toggle="tooltip" data-placement="left" title="clear filters">
                    <span><i class="lnr-cross txtc-danger"></i></span>
                </a>
            </div>
            <% } %>

            <% if (comments.query.hasOwnProperty('author')) { %>
            <div class="input-group-btn">
                <input type="hidden" name="user" value="<%=comments.query.author%>" />
                <button type="button" class="hidden-xs-down btn btn-secondary text-uppercase d-flex align-items-center justify-content-around" data-without='{"string": "/<%-url.join('/')%>", "value": "user=<%=comments.query.author%>"}' id="unfilter-author">
                    <span><i class="lnr-cross mr-2"></i></span>
                    <span>User</span>
                </button>
            </div>
            <% } %>

            <% if (comments.query['flagged'] === true) { %>
            <div class="input-group-btn">
                <input type="hidden" name="flagged" value="true" />
                <button type="button" class="hidden-xs-down btn btn-secondary text-uppercase d-flex align-items-center justify-content-around" data-without='{"string": "/<%-url.join('/')%>", "value": "flagged=true"}' id="unfilter-flagged">
                    <span><i class="lnr-cross mr-2"></i></span>
                    <span>Flagged</span>
                </button>
            </div>
            <% } %>

            <% if (comments.query.hasOwnProperty('post')) { %>
            <div class="input-group-btn">
                <button type="button" class="hidden-xs-down btn btn-secondary text-uppercase d-flex align-items-center justify-content-around" data-without='{"string": "/<%-url.join('/')%>", "value": "<%=comments.query.post%>", "with": "/all"}' id="unfilter-post">
                    <span><i class="lnr-cross mr-2"></i></span>
                    <span>Post</span>
                </button>
            </div>
            <% } %>

            <% if (comments.query.hasOwnProperty('status')) { %>
            <% if (comments.query.status.length === 1) { %>
            <div class="input-group-btn">
                <button type="button" class="hidden-xs-down btn btn-secondary text-uppercase d-flex align-items-center justify-content-around" data-without='{"string": "/<%-url.join('/')%>", "value": "<%=comments.query.status.join('')%>"}' id="unfilter-status">
                    <span><i class="lnr-cross mr-2"></i></span>
                    <span>
                        <% if (comments.query.status[0] === 'publish') { %>Approved<% } %>
                        <% if (comments.query.status[0] === 'wait') { %>Waiting<% } %>
                        <% if (comments.query.status[0] === 'delete') { %>Deleted<% } %>
                    </span>
                </button>
            </div>
            <% } } %>

            <div class="input-group-btn">
                <button type="button" class="btn btn-secondary text-uppercase d-flex align-items-center justify-content-around" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>Filter</span><span><i class="lnr-chevron-down ml-2" style="margin-top: 1px"></i></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <% if (req.originalUrl.indexOf('flagged=true') < 0) { %>
                    <a class="dropdown-item text-uppercase small" href="/<%=url.join('/')%><%=(req.originalUrl.indexOf('?') >= 0) ? '&flagged=true' : '?flagged=true'%>">Flagged</a>
                    <% } else { %>
                    <a class="dropdown-item text-uppercase small active" href="javascript:void(0)" data-without='{"string": "/<%-url.join('/')%>", "value": "flagged=true"}'>Flagged</a>
                    <% } %>
                    <div class="dropdown-divider"></div>

                    <% for (prop in statuses) { %>
                    <% let l = (comments.query.hasOwnProperty('status')) ? link.split('[STATUS]').join('/' + prop) : link.split('[STATUS]').join(''); %>
                    <% if (stat === prop) { %>
                    <a class="dropdown-item text-uppercase small active" href="javascript:void(0);" data-without='{"string": "/<%-url.join('/')%>", "value": "<%=comments.query.status.join('')%>"}'><%=statuses[prop]%></a>
                    <% } else { %>
                    <a class="dropdown-item text-uppercase small" href="<%=l%>"><%=statuses[prop]%></a>
                    <% } %>
                    <% } %>
                </div>
            </div>
            <div class="input-group-btn">
                <button type="button" class="btn btn-secondary text-uppercase d-flex align-items-center justify-content-around" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>Sort</span><span><i class="lnr-chevron-down ml-2" style="margin-top: 1px"></i></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item text-uppercase small <%=(comments.query['order'] === 'descending' || !comments.query['order']) ? 'active' : ''%>" href="<%-sortlink%><%=(sortlink.indexOf('?') >= 0) ? '&sort=descending&sortBy=createdAt' : '?sort=descending&sortBy=createdAt'%>">Newest</a>
                    <a class="dropdown-item text-uppercase small <%=(comments.query['order'] === 'ascending') ? 'active' : ''%>" href="<%-sortlink%><%=(sortlink.indexOf('?') >= 0) ? '&sort=ascending&sortBy=createdAt' : '?sort=ascending&sortBy=createdAt'%>">Oldest</a>
                </div>
            </div>
        </div>
    </form>

    <!--// Comment List //-->
    <div class="admin-comment-list">
        <% comments.list.forEach((item) => { %>
        <div class="d-flex comment small txtc-gray-light mb-md-5 mb-3">
            <!--// Date //-->
            <div class="nogrow comment-date-wrap hidden-sm-down">
                <div class="nogrow comment-date card-shadow rounded-circle bgc-white d-flex justify-content-center align-items-center flex-column">
                    <div class="nogrow"><%-item.date.split(' ').join('</div><div class="nogrow">')%></div>
                </div>
            </div>

            <!--// Comment //-->
            <div class="d-flex comment-excerpt card-shadow bgc-white bd-t-1 bdc-<%=item.status_color%> pl-3 pl-sm-4 pr-3 pr-sm-4">
                <div class="d-flex align-items-center">
                    <div>
                        <div class="comment-post bold txtc-gray">
                            <i class="lnr-pushpin txtc-gray mr-2" aria-hidden="true"></i>
                            <a href="/admin/comments/1/<%=item.post.objectId%>" class="txtc-gray"><%=item.post.title%></a>
                        </div>
                        <div class="comment-author my-1 d-block" style="height: 20px; overflow: hidden;">
                            <% if (item.op === true) { %>
                            <i class="lnr-user txtc-gray mr-2" aria-hidden="true"></i> <a href="?user=<%=item.author.objectId%>" class="bold txtc-gray"><%=item.author.username%></a>
                            <% } else { %>
                            <i class="lnr-user txtc-gray mr-2" aria-hidden="true"></i> <a href="?user=<%=item.author.objectId%>" class="bold txtc-gray-light"><%=item.author.username%></a>
                            <% } %>

                            <a href="/admin/comments/1/<%=item.post.objectId%>/<%=item.status%>" class="dot rounded-circle bgc-<%=item.status_color%>"></a>

                            <span class="txtc-gray-light monospace" style="font-size: 1rem"><%=item.time%></span>
                        </div>
                        <div class="comment-body txtc-gray-light">
                            <i class="lnr-<%=(item.flagged === true) ? 'flag2 txtc-danger' : 'bubble'%> txtc-gray mr-2" aria-hidden="true"></i>
                            <%-core.hbsParse(item.body)%>
                        </div>
                    </div>
                </div>
                <% if (can_moderate === true) { %>
                <div class="d-flex align-items-center justify-content-end">
                    <div class="text-right" style="width: 110px;">
                        <div class="btn-group nogrow" role="group" aria-label="...">
                            <% if (item.status === 'wait') { %>
                            <button class="btn btn-sm btn-secondary text-uppercase pt-2" data-comment-approve="<%=item.objectId%>" data-toggle="tooltip" data-placement="left" title="APPROVE">
                                <i class="lnr-thumbs-up" aria-hidden="true"></i>
                                <span class="sr-only">Approve comment</span>
                            </button>
                            <% } %>
                            <button class="btn btn-sm btn-secondary text-uppercase pt-2" data-comment-moderate="<%=item.objectId%>" data-toggle="tooltip" data-placement="left" title="MODERATE">
                                <i class="lnr-pen" aria-hidden="true"></i>
                                <span class="sr-only">Moderate comment</span>
                            </button>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>

</section>

<% if (comments.pagination.pages > 1) { %>
<!--// Pagination //-->
<nav aria-label="pagination" class="float-right">
    <ul class="pagination">
        <li class="page-item">
            <% if (comments.pagination.page > 1) { %>
            <a class="page-link txtc-gray" href="<%-req.originalUrl.split('/'+comments.pagination.page+'/').join('/'+comments.pagination.prev+'/');%>" aria-label="Previous">
                <div aria-hidden="true" class="lnr lnr-chevron-left" style="margin-top: 3px; margin-bottom: 1px;"></div>
                <span class="sr-only">Previous</span>
            </a>
            <% } else { %>
            <div class="page-link txtc-gray bgc-gray-lightest">
                <div aria-hidden="true" class="lnr lnr-chevron-left" style="margin-top: 3px; margin-bottom: 1px;"></div>
            </div>
            <% } %>
        </li>

        <% for (let p = comments.pagination.min; p <= comments.pagination.max; p++) { %>
        <li class="page-item">
            <% if (p === comments.pagination.page) { %>
            <span class="page-link txtc-primary bgc-gray-lightest">
                <span class="sr-only">Current page</span>
                <%=p%>
            </span>
            <% } else { %>
            <a class="page-link txtc-gray" href="<%-req.originalUrl.split('/'+comments.pagination.page+'/').join('/'+p+'/');%>">
                <span class="sr-only">Page</span>
                <%=p%>
            </a>
            <% } %>
        </li>
        <% } %>

        <li class="page-item">
            <% if (comments.pagination.next <= comments.pagination.pages) { %>
            <a class="page-link txtc-gray" href="<%-req.originalUrl.split('/'+comments.pagination.page+'/').join('/'+comments.pagination.next+'/');%>" aria-label="Next">
                <div aria-hidden="true" class="lnr lnr-chevron-right" style="margin-top: 3px; margin-bottom: 1px;"></div>
                <span class="sr-only">Next</span>
            </a>
            <% } else { %>
            <div class="page-link txtc-gray bgc-gray-lightest">
                <div aria-hidden="true" class="lnr lnr-chevron-right" style="margin-top: 3px; margin-bottom: 1px;"></div>
            </div>
            <% } %>
        </li>
    </ul>
</nav>
<div class="clearfix"></div>
<% } %>

